@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    color: black;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: black;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 1000;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: black;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    margin-bottom: 10px;
}

nav a:hover,
nav a.active{
    color: black;
    border-bottom: 3px solid #fff51c;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}

.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.contenedor figure {
    margin-right: 30px;
    position: relative;
    width: 400px;
    height: 250px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}

.contenedor figure img {
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}

.contenedor figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff51c;
    transition: all 400ms ease-out;
    opacity: .4;
    visibility: hidden;
    text-align: center;
}

.contenedor figure:hover > .capa {
    opacity: .7;
    visibility: visible;
}

.contenedor figure:hover > img {
    transform: scale(1.3);
}

.contenedor figure .capa h3 {
    color: #000;
    font-size: 40px;
    margin: 20px 0 15px;
    transition: all 400ms ease-out;
}

.contenedor figure .capa p {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    max-width: 220px;
    margin: auto;
    top: 0;
}

.contenedor2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.contenedor2 figure {
    margin-right: 30px;
    position: relative;
    width: 400px;
    height: 250px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}

.contenedor2 figure img {
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}

.contenedor2 figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff51c;
    transition: all 400ms ease-out;
    opacity: .4;
    visibility: hidden;
    text-align: center;
}

.contenedor2 figure:hover > .capa {
    opacity: .7;
    visibility: visible;
}

.contenedor2 figure:hover > img {
    transform: scale(1.3);
}

.contenedor2 figure .capa h3 {
    color: #000;
    font-size: 40px;
    margin: 20px 0 15px;
    transition: all 400ms ease-out;
}

.contenedor2 figure .capa p {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    max-width: 220px;
    margin: auto;
}

.contenedor3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 70px;
}

.contenedor3 figure {
    margin-right: 30px;
    position: relative;
    width: 400px;
    height: 250px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}

.contenedor3 figure video {
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}

.contenedor3 figure img {
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}

.contenedor3 figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff51c;
    transition: all 400ms ease-out;
    opacity: .4;
    visibility: hidden;
    text-align: center;
}

.contenedor3 figure:hover > .capa {
    opacity: .7;
    visibility: visible;
}

.contenedor3 figure:hover > img {
    transform: scale(1.3);
}

.contenedor3 figure .capa h3 {
    color: #000;
    font-size: 40px;
    margin: 20px 0 15px;
    transition: all 400ms ease-out;
}

.contenedor3 figure .capa p {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    max-width: 220px;
    margin: auto;
}
